# macOS
.DS_Store

# Xcode
build/
ALL_BUILD/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint
xcuserdata/
Products/
Frameworks/

# User settings
*.swp
*.lock
*.mode1v3
*.mode2v3
*.perspectivev3

# Others
*.dSYM
*.log
